.button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-family: var(--ff-detail-bold);
  color: var(--clr-b1);
}

.mobileMenu {
  padding: 1.5rem 0.75rem 1.5rem 0;
  font-size: 1rem;
}

.bottom {
  padding: 0.92rem 0rem;
  font-size: 0.7rem;
}
